@font-face {
  font-family: 'Alpha-Echo';
  src: url('../fonts/alpha_echo.ttf');
}

html {
  background-color: #4f4f4f;
  color: #f4f4f4;
  font-family: Alpha-Echo;
  cursor: default;
}

h1 { font-size: 130px; margin: 0; }

h3 { font-size: 35px; }

p { font-size: 20px; margin: 0; transform: translateY(50%); }

#myCanvas {
  cursor: default;
}

.button {
  position: absolute;
  width: 80px;
  height: 50px;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 2px solid black;
}

.button:hover {
  background-color: #FF5C5C;
}
